[build]
  base = "client" 
  command = "npm ci && NODE_ENV=production npx vite build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"